# Database
DB_CONNECTION_STRING=

# JWT
JWT_KEY=seu_chave_jwt_aqui
JWT_ISSUER=kivoBackend
JWT_AUDIENCE=kivoFrontEnd

# Email
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=
SENDER_PASSWORD=
SENDER_NAME=Kivo Sports
ENABLE_SSL=true

# Frontend CORS Origins (separados por vírgula)
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

# Environment
ASPNETCORE_ENVIRONMENT=Development
